body {
  margin:0;
  /* font-family: 'Source Sans 3', sans-serif; */
}

a {
  text-decoration: none;
  color:black;
}

li {
  list-style: none;
}

.navbar {
  width:100%;
  height:95px;
  display:flex;
  padding: 0;
  padding-top:0px;
  position:relative;
}

.navbar__logo {
  background-color: #E60012;
  width:15%;
  height:95px;
  display:flex;
  align-items: center;
  justify-content: center;
}

.navbar__logo img {
  height:35%;
}

.navbar__menu {
  display:flex;
  width:85%;
  padding-left:0;
  margin-top:0;
  margin-bottom: 0;
  height:100%;
}

.navbar__menu i {
  font-size: 20px;
  padding-right:10px;
  color:silver;
}

.navbar__menu li {
  width:16%;
  height:100%;
  border-right: 1px solid silver;
  border-bottom: 1px solid silver;
  background-color: white;
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  font-weight: 600;
  box-sizing: border-box;
  padding-top:8px;
}

.navbar__menu li:nth-child(7) {
  flex-direction: column;
  align-items: center;
  width:100px;
  height:100%;
  font-size:15px;
  border-right: none;
}
.navbar__menu li:nth-child(7) i {
  padding-right:0px;
  font-size:20px;
  padding-bottom: 5px;

}


/* 자세히 보기 */
.navbar_device_design
 {
  width:100%;
  background-color: white;
  position:absolute;
  top:95px;
  z-index:1;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow:hidden;
  transition: height .1s;
}

.navbar_device_inf {
  height:0;
}

.navbar_software_inf {
  height:0;
}

.navbar_news_inf {
  height:0;
}

.navbar_character_inf {
  height:0;
}

.navbar_spanner_inf {
  height:0;
}

.navbar_shopping_inf {
  height:0;
}

.navbar_search_inf {
  height:0;
}


.navbar_device_inf_first {
  width:900px;
  height:180px;
  display:flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgb(140, 140, 140);
}

.navbar_device_inf_first img {
  width:90%;
}

.navbar_device_inf_second {
  width:900px;
  display:flex;
  align-items: center;
  justify-content: flex-start;
  padding-left:45px;
  font-size:12px;
  position:relative;
  font-weight:600;
  margin-bottom:15px;
}

.navbar_device_inf_second img {
  width:120px;
  padding-right:10px;
}

.navbar_device_comparison {
  position:absolute;
  right:150px;
  font-size:14px;
}

.navbar_device_comparison i{
  color:red;
}

.navbar_device_device {
  font-size:14px;
  position:absolute;
  right:50px;
}

.navbar_device_device i{
  color:red;
}

.navbar_device_inf_first:hover{
  opacity: 0.7;
}

.mouseover{
  margin-right:70px;
}

.mouseover1{
  margin-right:70px;
  display:flex;
  align-items: center;
}

.mouseover:hover,
.mouseover1:hover,
.navbar_device_comparison:hover,
.navbar_device_device:hover{
  color:red;
  opacity: 0.7;
}



.exit_btn {
  width: 90%;
  height:40px;
  background-color: rgb(230, 230, 230);
  margin-top:10px;
  margin-bottom:10px;
  border-radius: 5px;
  display:flex;
  align-items: center;
}

.exit_btn_exit {
  font-size:20px;
  text-align: center;
  width:7%;
  border-right: 1px silver solid;
}

.exit_btn_content{
  text-align: center;
  width:93%;

}

.navbar_device,
.navbar_software,
.navbar_news,
.navbar_character,
.navbar_sapnner,
.navbar_shopping,
.navbar_search
{
  cursor: pointer;
}



/* 소프트웨어 더보기 */



.navbar_software_inf_first{
  width:1100px;
  height:150px;
  display:flex;
  align-items: center;
  justify-content: center;
  margin-top:30px;
  padding-bottom: 30px;
  border-bottom: 1px solid rgb(140, 140, 140);
}

.mouseover_software {
  display:flex;
  align-items: center;
  justify-content: center;
}

.mouseover_software:hover{
  opacity: 0.7;
  color:red;
}

.navbar_software_inf_second{
  width:1100px;
  height:90px;
}


.nintendo_switch_logo {
  font-size:50px;
  color:rgb(140, 140, 140);
  text-align: center;
}

.nintendo_switch_name {
  text-align: center;
  font-weight:600;
  font-size:15px;
}

.nintendo_switch_pic {
  height:140px;
  display:flex;
  margin-left:20px;
  margin-right:40px;
}

.nintendo_switch_pic img {
  width:100%;
  height:100%;
}

.smart_phone_pic {
  height:140px;
  display:flex;

  margin-left:20px;
}

.smart_phone_pic img {
  width:100%;
  height:100%;
}

.navbar_software_inf_second {
  position: relative;
  display:flex;
  align-items: center;
  font-weight:600;
}

.navbar_software_inf_second img {
  width:120px;
  margin-right:10px;
}

.navbar_software_experience{
  position:absolute;
  right:220px;
  font-size:15px;
  font-weight:600;
}

.navbar_software_experience i{
  color:red;
}

.navbar_software_schedule {
  position:absolute;
  right:10px;
  font-size:15px;
  font-weight:600;
}

.navbar_software_schedule i{
  color:red;
}

.navbar_software_experience:hover{
  opacity: 0.7;
  color:red;
}

.navbar_software_schedule:hover{
  opacity: 0.7;
  color:red;
}


/* 뉴스 더보기 */

.navbar_news_inf_first{
  display:flex;
  padding-bottom: 15px;
  border-bottom: 1px solid rgb(140, 140, 140);
}

.navbar_news_inf_first_list {
  margin-top:20px;
  width:230px;
  margin-left:5px;
  margin-right:5px;
}

.navbar_news_inf_first_list img{
  width:100%;
}

.navbar_news_inf_first_list_content{
  font-size: 13px;
  height:120px;
  font-weight:600;
}

.navbar_news_inf_first_list_inf {
  font-size: 11px;
  color:rgb(140, 140, 140);
}

.navbar_news_inf_second {
  margin-top:20px;
  margin-bottom:20px;
}

.navbar_news_more i {
  color:red;
}

.navbar_news_more {
  font-weight:600;
}

.navbar_news_inf_first_list:hover {
  opacity: 0.7;
}

.navbar_news_inf_second:hover {
  opacity: 0.7;
  color:red;
}


/* 캐릭터 더보기 */
.navbar_character_total {
  display:flex;
}

.navbar_character_list {
  display:flex;
  flex-direction: column;
  align-items: center;
  padding-top:25px;
  padding-bottom:20px;
  font-weight:600;
  margin-left:10px;
  margin-right:10px;
}

.navbar_character_list img {
  width:230px;
  padding-bottom:20px;
}

.navbar_character_list:hover{
  opacity: 0.7;
}


/* 고객지원 더보기 */

.navbar_spanner_inf_first{
  width:1200px;
  height:150px;

  border-bottom: 1px solid rgb(140, 140, 140);
  padding-top: 50px;
  padding-bottom: 30px;
}


.navbar_spanner_inf_second {
  margin-top:20px;
  margin-bottom:20px;
}

.navbar_spanner_more i {
  color:red;
}

.navbar_spanner_inf_second {
  font-weight:600;
}

.navbar_spanner_more:hover {
  opacity: 0.7;
  color:Red;
}

.navbar_spanner_inf_first{
  display:flex;
  align-items: center;
  justify-content: center;
}

.navbar_spanner_inf_first_list{
  display:flex;
  flex-direction: column;
  margin-left:20px;
  margin-right:20px;
  width:110px;
  height:110px;
  font-size:13px;
  text-align: center;
  align-items: center;
  font-weight:600;
}

.navbar_spanner_inf_first_list i {
  font-size:50px;
  text-align: center;
  color:rgb(140, 140, 140);
  padding-bottom:10px;
}

.navbar_spanner_inf_first_list:hover{
  opacity: 0.7;
}




/* 다운로드 구입 더보기 */

.navbar_shopping_inf {
  display:flex;
  flex-direction: row;
}

.navbar_shopping_eshop{
  color:red;
  font-size:18px;
  font-weight:600;
  padding-top:60px;
  padding-bottom:60px;
  margin-left:80px;
  margin-right:80px;
}

.navbar_shopping_online_store {
  color:red;
  font-size:18px;
  font-weight:600;
  padding-top:60px;
  padding-bottom:60px;
  margin-left:80px;
  margin-right:80px;
}


/* 검색 더보기 */

.navbar_search_inf_search_bar{
  width:800px;
  height:60px;
  border: 1px solid rgb(140, 140, 140);
  border-radius: 5px;
  margin-top:20px;
  margin-bottom:20px;
  position: relative;
  display:flex;
  align-items: center;
}

.search_bar_logo {
  position:absolute;
  left:35px;
  font-size:20px
}

.navbar_search_inf_search_bar input {
  position:absolute;
  left:70px;
  border:none;
  outline:none;
}

.search_bar_logo_remove {
  position:absolute;
  right:110px;
  font-size:30px;
  padding-left:10px;
  padding-right:10px;
  height:30px;
  display:flex;
  align-items: center;
  border-right: 1px dotted rgb(230, 230, 230);
  color:rgb(180, 185, 197)
}

.search_btn {
  position:absolute;
  right:15px;
  width:80px;
  height:40px;
  background-color: rgb(230, 230, 230);
  display:flex;
  align-items: center;
  justify-content: center;
  font-weight:600;
  border-radius: 5px;
  color:rgb(180, 185, 197)
}

/* 캐러셀 */
.carousel {
  margin-top:2px;
}


/* 게임바 */
.game_bar{
  width:100%;
  height: 80px;
  background-color: white;
  border-bottom:1px solid silver;
  display:flex;
  align-items: center;
  padding-left:0;
  margin-bottom:0;
}

.game_bar li {
  width:20%;
  height:60px;
  padding-left:2%;
  padding-right:2%;
  background-color: white;
  border-right:1px solid silver;
  display:flex;
  align-items: center;
  position:relative;
}


.game_bar li img {
 width:55px;
 position: absolute;
 left:20px;
}

.game_bar__contents{
  position: absolute;
  left:90px;
  font-size: 15px;
  font-weight:600;
}

/* 2번째 페이지 */

.news_update {
  margin:auto;
  /* height:900px; */
  width:80%;
  padding-top:50px;
  /* background-color: yellow; */
}

.news_update_title {
  display:flex;
  padding-left: 40px;
}

.news_update_main_title {
  font-size: 25px;
  font-weight:700;  
}

.news_update_sub_title {
  margin-left:10px;
  margin-top:8px;
}

.news_update_total {
  display:flex;
  justify-content: center;
  flex-wrap : wrap;
  margin-top:30px;
  margin-bottom:0;
  padding:0;
  box-sizing: border-box;

}

.news_update_total li {
  box-sizing: border-box;
  width:22%;
  height:320px;
  border-bottom:1px solid silver;
  margin-left:10px;
  margin-right:10px;
  margin-bottom:30px;
  margin-top:10px;
  position:relative;
  /* background-color: pink; */
  
}

.news_update_pic img {
  width:100%;
}

.news_update_content {
  margin-top:20px;
  font-weight:600;
  font-size: 14px;
  width:100%;
  height: 40%;
  /* background-color: blue; */
}

.news_update_category {
  font-size: 12px;
  color: rgb(140, 140, 140);
  position:absolute;
  bottom: 17px;
}

.news_update_date {
  position:absolute;
  bottom: 0px;
  color: rgb(140, 140, 140);
  font-weight: 600;
}

.news_update_next_icon {
  position:absolute;
  bottom: 0px;
  right: 2px;
  color:#E60012;
  font-size: 13px;
}

.bottom_box{
  width:100%;
  height:160px;
  display:flex;
  align-items: center;
  justify-content: center;
}


.red_btn {
  width:180px;
  height: 40px;
  border-radius: 4px;
  background-color: #E60012;
  color:white;
  display:flex;
  align-items: center;
  justify-content: center;
  margin:auto;  
  font-size:15px;
  font-weight:600;
  cursor: pointer;
}

.pay_bar {
  overflow: hidden;
}

.pay_bar img{
  width:100%;
  /* -webkit-transform:scale(1.2);   크롬 */
 
}


/* 세번째 페이지 */

/* .news_update_total li {
  background-color: blue;
} */

.news_update_nintendo_switch {
  position: absolute;
  bottom:60px;
  font-size: 12px;
  color: rgb(140, 140, 140);
}

.news_update_third_date {
  position: absolute;
  bottom:45px;
  font-weight: 600;
  font-size: 12px;
  color: rgb(140, 140, 140);
}

.news_update_korea_nintendo {
  position: absolute;
  bottom:29px;
  font-size: 12px;
  color: rgb(140, 140, 140);
}

.news_update_version {
  position: absolute;
  bottom:13px;
  font-size: 12px;
  color: rgb(140, 140, 140);
}

.news_update_age img{
  width:35px;
  position:absolute;
  right:0;
  bottom:65px;
}

.news_update_korean img{
  width:42px;
  position:absolute;
  right:0;
  bottom:37px;
}

.news_update_third_next_icon i{
  color:red;
  position:absolute;
  right:0;
  bottom:16px;
}


/* 마지막 페이지 */
.final_page {
  margin:auto;
  width:100%;
}

.more_box {
  margin:auto;
  width:100%;
  height:350px;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

} 

.more_list {
  width: 25%;
  margin-left:17px;
  margin-right:17px;
  margin-bottom:5px;
  margin-top:5px;
}

.more_list img {
  width:100%;
}

.more_inf {
  margin:auto;
  width:70%;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  margin-top:40px;
}

.more_click_box {
  
  margin:auto;
  margin-top: 25px;
  width:90%;
  height:110px;
}

.more_click_box {
  padding-left: 0;
  display:flex;
  align-items: center;
  justify-content: center;
}

.more_click_box li i {
  padding-right:25px;
  padding-left: 25px;
  font-size: 30px;
}

.more_click_box li {
  display:flex;
  align-items: center;
  width:100%;
  height:100%;
  /* background-color: pink; */
  border: 1px solid silver;
  padding-left: 20px;
  padding-right:  30px;
}


.final_page {

}

.final_inf_bar {
  margin-top:100px;
  width:100%;
  height:100px;

  border-top: 1px solid rgb(140, 140, 140);
  display:flex;
  align-items: center;
  justify-content: center;
}

.final_inf_bar_first {
  width:26%;
  height:65%;
  /* background-color: pink; */
  border-right: 1px solid rgb(140, 140, 140);

  font-weight: 600;
  position: relative;
}

.final_inf_bar_second {
  width:74%;
  height:65%;
  /* background-color: red; */
  position: relative;
}

.final_inf_bar_second i {
  color:red;
}

.final_inf_bar_first_inf {
  position:absolute;
  right:70px;
  top:23px;
}

#final_inf_bar_second_inf {
  position:absolute;
  left:50px;
  top:23px;
}

/* 닌텐도 바 */

.nintendo_bar {
  width:100%;
  height: 50px;
  background-color: #E60012;
  position:relative;
}



.nintendo_bar_logo img {
  width:100px;
  position:absolute;
  left:15px;
  top:12px;
}

.up_btn {
  width:25px;
  height:25px;
  border: 2px solid white;
  border-radius: 20px;
  position:absolute;
  right:15px;
  top:12px;
  color:white;
  cursor: pointer;
}

.up_btn i {
  position: absolute;
  top:3px;
  right:4px;
}

.up_btn:hover {
  width:70px;
  background-color: white;
  color:#E60012;
}

.hide {
  display:none;
}

.up_btn_inf {
  padding-left:12px;
  font-weight:600;
  padding-bottom: 5px;
}

.more_site {
  width: 100%;
  /* background-color: pink; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top:20px;
  padding-bottom:20px;
}

.more_site_sns_box {
  display:flex;
  align-items:  center;
  justify-content: center;
}

.more_site_site_box {
  display:flex;
}

.more_site_sns{
  margin-left:10px;
  margin-right:10px;
  width:60px;
  height:60px;
}

.more_site_sns img {
  height:100%;
  border-radius: 5px;
}

.more_site_site {
  width:370px;
  height:60px;
  margin-left:7px;
  margin-right:7px;
} 

.more_site_site img {

  width:100%;
  height:100%;
  border-radius: 5px;
  border:1px solid rgb(140, 140, 140);
}


.more_site div:nth-child(7) img{
  border: 2px solid rgb(140, 140, 140);
}

.bottom_inf {
  width:100%;
  height:180px;
  /* background-color: blue; */
  display:flex;
  align-items: center;
  justify-content: center;
}

.bottom_inf_list {
  height:80%;
  width:200px;
  margin-left:40px;
  margin-right:40px;
  text-align: center;
  display:flex;
  flex-direction: column;
  align-items: center;
  position:relative;
  border: 1px solid white;
}

.up_red_line {
  width:20px;
  height:3px;
  background-color: #E60012;
  margin-bottom:10px;
  position:absolute;
}

.bottom_inf_list_title {
  font-weight:600;
  position:absolute;
  top:10px;
}

.bottom_inf_list_content {
  margin-top:10%;
  color:rgb(140, 140, 140);
  font-size:14px;
  position:absolute;
  top:20px;
}

.footer {
  background-color: rgb(245, 245, 245);
  width:100%;
  position: relative;
  padding-top:15px;
  padding-bottom:15px;
}

.promise {
  color: rgb(140, 140, 140);
  width:1000px;
  margin: auto;
}

.promise span {
  font-weight:600;
  color:black;
}

.year {
  color: rgb(140, 140, 140);
  width:1000px;
  margin: auto;
}
.name {
  color: rgb(140, 140, 140);
  width:1000px;
  margin: auto;
}

.phone {
  color: rgb(140, 140, 140);
  position: absolute;
  top:25px;
  right:170px
}

.except {
  color: rgb(140, 140, 140);
  position: absolute;
  top:50px;
  right:170px;
  font-size:13px;
}

.navbar__menu li:hover i:nth-child(1)  {
  color:red;
}

.navbar__menu li:hover {
  color:red;
}




@media screen and (max-width: 1460px){
  .navbar__menu li{
    font-weight: 500;
  }
}



@media screen and (max-width: 1230px){
  
  .navbar {
    height:160px;
    flex-direction: column;
    background-color: #E60012;
    align-items: flex-start;
  }

  .navbar__menu{
    width:100%;
    margin-left: 0px;
    margin-right: 0;
    padding-left: 0px;
    height:65px;
  }
  
  .navbar__menu li {
    
    width:90%;
    background-color: #E60012;

    border: none;
    /* padding-bottom: 15px; */
    color:silver;
  }

  .navbar__menu li:nth-child(7) {
    position:absolute;
    top:35px;
    right:15px;
    height:50px;
    width:70px;
    /* background-color: yellow; */
    flex-direction: row;
  }

  .navbar__menu li:nth-child(7) i {
    padding-right :10px;
  }

  .game_bar__contents{
    font-size:13px;
  }

  .news_update_sub_title{
    display:none;
  }

  .news_update {
    width:100%;
  }
  
  .news_update {
    margin:auto;
    width:80%;
    padding-top:50px;
  }

  .news_update_title {
    padding-left: 40px;
  }

  .news_update_total li {
    height:340px;
  }

  .bottom_box{
    height:120px;
  }

  .news_update_total li{
    height:300px;
  }

  .more_click_box {
    margin-top:80px;
    flex-direction: column;
  }

  .more_click_box li {
    padding-top:20px;
    padding-bottom:20px;    
  }

  #final_inf_bar_second_inf {
    font-size:13px;
  }

  .promise{
    width:800px;
  }

  .phone{
    position:static;
    width:800px;
    margin: auto;
  }

  .except{
    position:static;
    width:800px;
    margin: auto;
  }

  .year{
    width:800px;
  }

  .name{
    width:800px;
  }

  .footer div {
    padding-left:30px;
  }

  .more_site {
    flex-direction: column;
  }

  .more_site_sns_box{
    padding-bottom: 15px;
  }

  .bottom_inf_list_title {
    font-size:12px;
  }

  .bottom_inf_list_content{
    font-size:12px;
  }

  .footer div {
    padding-left:10px;
  }

  .bottom_inf_list_title{
    cursor: pointer;
  }

  .navbar_device_design{
    top:162px;
  }

  .navbar_device_inf_first {
    width:85%;
    height: 250px;
  }

  .navbar_device_inf_second {
    width:100%;
  } 

  .navbar_device_inf_second {
    width:85%;
    margin-bottom:0; 
  }

  .navbar_device_comparison{
    top:15px;
    right:50px;
  }

  .navbar_device_device{
    top:35px;
    right:50px;
}

  .navbar_device_inf {
    /* height:200px; */
    /* background-color: yellow; */
  }

  .navbar__menu li:hover i:nth-child(1)  {
    color:white;
  }
  
  .navbar__menu li:hover {
    color:white;
    border-bottom: 2px solid white;
  }

  .navbar_software_inf_first{
    width:100%;

    display:flex;
    justify-content: center;
    align-items: center;
    padding-bottom:0;
  }

  .nintendo_switch_name {
    font-size:12px;
  }

  .mouseover_software {
    height:100%;
    width:100%;

  }

  .nintendo_switch_box_first{
  }

  .nintendo_switch_pic {
    display:flex;
    justify-content: center;
    align-items: center;
    margin-right:0;

  }

  .nintendo_switch_pic img {
    width:120px;
    height:120px;

  }

  .navbar_software_inf_second{
    width:98%;

  }
  .nintendo_switch_box_first{
    width:63%;

  }

  .nintendo_switch_pic img{
    height:90%;
  }

  .smart_phone_pic {
    height:100%;
    display:flex;
    align-items: center;
    justify-content: center;
  }

  .smart_phone_pic img {
    height:90%;
  }

  .nintendo_switch_box_second{
    width:37%;

  }


}




@media screen and (max-width: 868px){

  .navbar {
    height:150px;
    width:100%;
  }

  .navbar__logo{
    height:70px;
    margin-left:30px;
  }

  .navbar__menu {
    width:100%;
    padding-left: 1.5%;
    padding-right: 1.5%;
  }

  .navbar__menu li{
    flex-direction: column;
    font-size:9px;

  }

  .navbar__menu li i {
    padding-right:0px;
    padding-bottom: 5px;
  }

  .navbar__menu li:nth-child(7) {
    top:25px;
    right:14px;
  }

  .navbar__menu li:nth-child(7) i {
    padding-right:8px
  }

  .carousel-item:nth-child(1) img {
  content:url('pic/main_mob_pic1.webp')    
  }

  .carousel-item:nth-child(2) img {
  content:url('pic/main_mob_pic2.webp')    
  }

  .carousel-item:nth-child(3) img {
  content:url('pic/main_mob_pic3.webp')    
  }

  .carousel-item:nth-child(4) img {
  content:url('pic/main_mob_pic4.webp')    
  }

  .carousel-item:nth-child(5) img {
  content:url('pic/main_mob_pic5.webp')    
  }

  .game_bar li img {
    position:static;
    margin:auto;   
  }


  .game_bar__contents{
    display:none;
  }

  .news_update_sub_title{
    display:none;
  }

  .news_update_title {
    padding-left: 18px;
  }


  .news_update_total li {
    box-sizing: border-box;
    width:45%;
    height:300px;
    background-color: white;
    margin-left:5px;
    margin-right:5px;
    margin-bottom:10px;
    margin-top:10px;
  }

  .news_update_content {
    font-size:14px;
  }

  .news_update_main_title {
    font-size: 24px;
    font-weight:700;  
  }

  .news_update_title {
    display:flex;
    padding-left: 15px;
  }

  .bottom_box{
    height:100px;
  }

  .more_box {
    height:300px;
  }

  .more_list {
    width:33%;
    margin-left:5px;
    margin-right:5px;
    margin-bottom:5px;
    margin-top:5px;
    }

  .final_inf_bar {
    flex-direction: column;

  }

  .final_inf_bar_first{
    width:30%;
    border-top:2px solid rgb(140, 140, 140);
    border-right:none;
  }

  .final_inf_bar_first_inf{
    height:100%;
    position:static;
    display:flex;
    align-items: center;
    justify-content: center;
    color:rgb(140, 140, 140);
  }

  .final_inf_bar_second {
    width:90%;
  }

  #final_inf_bar_second_inf {
    position:static;
  }

  .more_site_site_box {
    flex-direction: column;
  }

  .more_site_site{
    margin-top:10px;
    margin-bottom: 10px;
    margin-left:20px;
    margin-right:20px;
  }

  .more_site_site img {
  }

  .more_inf{
    padding-top:20px;
  }

  .footer div {
    width:100%;
  }

  .more_site_sns_box{
    width:100%;
    padding-left:10px;
    padding-right:10px;
  }


  .more_site_site_box {
    width:100%;
    padding-left:10px;
    padding-right:10px;
  }

  .more_site_site{
    margin:auto;
    width:80%; 
    margin-top:10px;
    margin-bottom:10px;
  }

  .bottom_inf {
    width:100%;
  }

  .bottom_inf_list {
    
    margin-left:0;
    margin-right:0;
  }

  .navbar_device_design{
    top:152px;
  }

  .navbar_device_inf_first{
    height: 125px;
    width:100%;
  }

  .navbar_device_inf_second{
    display:flex;
    flex-direction: column;
    width:100%;
    /* padding-left:0; */
    /* background-color: pink; */
  }

  .mouseover{
    width:100%;
    padding-top:10px;

    border-bottom:1px solid rgb(230, 230, 230);
    padding-bottom:15px;
  }

  .mouseover1{
    width:100%;
    padding-top:10px;

    border-bottom:1px solid rgb(230, 230, 230);
    padding-bottom:15px;
  }

  .navbar_device_comparison{
    width:100%;
    position:static;
    text-align: center;
    padding-top:15px;
    padding-bottom:15px;
  }

  .navbar_device_device{
    width:100%;
    position:static;
    text-align: center;
    padding-top:15px;
    padding-bottom:15px;
  }

  .mouseover,
  .mouseover1{
    margin-right:0;
  }

  .navbar_device_inf_second {
    padding-left:0;
  }

  .navbar_device_inf_second img {
    margin-left:25px;
  }

  .navbar__menu li:hover i:nth-child(1)  {
    color:white;
  }
  
  .navbar__menu li:hover {
    color:white;
    border-bottom: 2px solid white;
  }

  .navbar_software_inf {
    position:absolute;
    width:100%;
    display:flex;
    flex-direction: column;
  }



  .navbar_software_inf_first{

    padding-top:10px;
    padding-bottom:10px;
    top:0;
    display:flex;
    flex-direction: column;
    height:70%;
    margin-top:0;
    padding-top:0;
    padding-bottom:0;
    border-bottom: none;
  } 


  /* 닌텐도 스위치 소프트웨어 */
  .nintendo_switch_box_first{
    width:100%;
    height:50%;
    flex-wrap: wrap;
    border-bottom: 1px solid rgb(230, 230, 230);
  }

  .nintendo_switch_pic {
    margin-left:0;
  }

  .nintendo_switch_pic img{
    width:50%;
    height:50%;
    margin-left:5px;
    margin-right:5px;
  }


  /* 스마트폰용 앱 */
  .nintendo_switch_box_second{
    width:100%;
    height:50%;
    border-bottom: 1px solid rgb(230, 230, 230);
  }

  .nintendo_switch{
    height:80px;
  }

  .nintendo_switch_logo{
    margin-top:0;
    padding-top:0;
    height:50px;
    display:flex;
    align-items: center;
    justify-content: center;
  }

  .nintendo_switch_pic img {
    height:80px;
  }

  .smart_phone_pic img {
    height:140px;
  }
  
  .navbar_software_inf_second {
    width:100%;
    height:30%;
  }

  .navbar_software_inf_second {
    display:flex;
    flex-direction: column;
    justify-content: center;

  }

  .mouseover {
    padding-left:30px;
    padding-top:0;
    padding-bottom:0;
    height:40%;
    display:flex;
    align-items: center;
  }

  .navbar_software_experience {
    position:static;
    height:30%;
    display:flex;
    align-items: center;
    justify-content: center;
  }

  .navbar_software_schedule {
    position:static;
    height:30%;
    display:flex;
    align-items: center;
    justify-content: center;
  }



}






@media screen and (max-width: 468px){

  .news_update_version{
    font-size:10px;
  }
  .more_box {
    height:210px;
  }
}

@media screen and (max-width: 435px){
  
  .navbar {
    height:150px;
    width:100%;
  }

  .navbar__logo{
    height:70px;
    margin-left:30px;
  }

  .navbar__menu {
    width:100%;
    padding-left: 1.5%;
    padding-right: 1.5%;
  }

  .navbar__menu span{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height:25px;
  }

  .navbar__menu li i {
    padding-right:0px;
    padding-bottom: 5px;
  }
  
}

@media screen and (max-width: 380px){
  .news_update_version {
    zoom: 0.9;
    bottom:17px;
  }

  .news_update_content{
    font-size:12px;
  }

}



@media screen and (max-width: 370px){
  .news_update_nintendo_switch {
    zoom: 0.9;
  }

  .news_update_third_date{
    zoom: 0.9;
  }

  .news_update_korea_nintendo {
    zoom: 0.9;
  }


  .news_update_version {
    zoom: 0.9;
    bottom:17px;
  }

  .news_update_age{
    zoom: 0.9;
  }

  .news_update_korean {
    zoom: 0.9;
  }

  .news_update_third_next_icon i{
    zoom: 0.7;
    bottom:24px;
  }

  .final_inf_bar {
    margin-top:150px;
  }

  .final_inf_bar_first_inf{
    font-size:13px;
  }

  .more_click_box li:nth-child(1){
    margin-top:50px;
  }

  .more_site_sns img{
    width:40px;
    height:40px;
  }

}


@media screen and (max-width: 335px){
  .news_update_third_next_icon i{
    display:none
  }
}